	<!-- NAV -->
	<div class="bs-component">
	  <div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#"><img src="@ResolveUrl("static/images/logo_grey_transparent_75_40.png")" border="0" style="padding:0;margin:0;"/></a>
		</div>
		<div class="navbar-collapse collapse navbar-inverse-collapse">
		  <ul class="nav navbar-nav">
			<li><a href="@ResolveUrl("index.html")">Home</a></li>
			<li><a href="@ResolveUrl("blog/index.html")">Blog</a></li>
			<li><a href="@ResolveUrl("about_me.html")">About Me</a></li>
			<li><a href="@ResolveUrl("contact_me.html")">Contact Me</a></li>
		  </ul>
		</div>
	</div> 